@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5rem;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#maincontent {
  background-color: #f3f3f3;
  width: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}


@media screen and (min-width: 768px) {
 #footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2000;
 }
}



/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;


}
nav h1 {
  margin: auto;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: block;
  padding: 20px;

}

@media screen and (min-width: 768px) {
  nav h1 {
    letter-spacing: 10px;
  }
}

#breadcrumb {
    padding: 10px 20px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map-container {
  background: blue none repeat scroll 0 0;
  height: 248px;
}

#map {
  height: 200px;
  width: 100%;
  top: calc(1.5rem + 24px); /*50px;*/
  background-color: #ccc;
}

@media screen and (min-width: 768px) {
  #map-container {
    position: fixed;
    right: 0;
    top: 64px;
    height: 80%;
    width: 50%;
  }

  #map {
    height: 100%;
    width: 100%;
  }
}



.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 0.6rem;
  z-index: -10;
}



/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1000;
  background-color: #3397DB;
}

.filter-options h2 {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 2;
  margin: 0px 5px;
  padding: 10px 0px 10px 5px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 9pt;
  height: 25px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 2px;
  width: auto;
}

@media screen and (min-width: 768px) {

  .filter-options {
    position: fixed;
    top: 64px;
    width: 100%;
}

  .filter-options h2 {
    font-size: 1rem;
  }

  .filter-options select {
    font-size: 11pt;
    height: 35px;
  }
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex; /* maybe use grid instead */
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 0 50px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #restaurants-list {
    position: absolute;
    top: 120px;
    width: 50%;
  }
}

#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 6px 1%;
  padding: 0 6px 8px;
  text-align: left;
  width: 48%;
}

@media (min-width: 576px) {
  #restaurants-list li {
    width: 31%;
    margin: 15px 1.16%;
  }
}


@media screen and (min-width: 768px) {
  #restaurants-list li {
    width: 48%;
    margin: 6px 1%;
  }
}

@media screen and (min-width: 1200px) {
  #restaurants-list li {
    width: 30%;
    margin: 15px 1.6% 30px;
    }
}



#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
}

#restaurants-list li h2 {
  color: #f14400;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 6px 4px 4px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0 4px;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #000;
  display: inline-block;
  font-size: 9pt;
  margin: 10px 0 0;
  padding: 3px 30px 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  #restaurants-list li h2 {
    /* color: #f18200; */
    font-family: Arial,sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }

  #restaurants-list p {
    margin: 0;
    font-size: 11pt;
  }
  #restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    display: inline-block;
    font-size: 10pt;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  width: 100%;
  height: 200px;
  background: blue none repeat scroll 0 0;
  right: 0;
  position: absolute;
  top: 108px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
}

@media screen and (min-width: 768px) {
  .inside #map-container {

    height: 87%;
    position: fixed;
    right: 0;
    top: 109px;
    width: 50%;
  }
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .inside #footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
  }

}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
}

@media (min-width: 576px) {
  #restaurant-img {
	  width: 90%;
  }
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 300px 40px 30px;
  width: 100%
}

@media screen and (min-width: 768px) {
  #restaurant-container, #reviews-container {
      width: 50%;
      padding: 140px 40px 30px;
  }
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
   border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}


/*
Bootstrap Breakpoints

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */